<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

	<display-name>ischool-web</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	
	<context-param>
	    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
	    <param-value>true</param-value>
	</context-param>
	
	<error-page>
    	<exception-type>java.lang.Exception</exception-type>
    	<location>/paginaErro.jsf</location>
  	</error-page>
  	
  	<error-page> 
		<error-code>404</error-code> 
		<location>/paginaErro.jsf</location> 
	</error-page>
	
		<!-- ********************** PrimeFaces CAPTCHA E FILEUPLOAD *************************** -->

	<context-param>
		<param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
		<param-value>6LfwZwoAAAAAAEhRyntKF1PBzysAJLzqp2v-GMRR</param-value>
	</context-param>
	
	<context-param>
		<param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
		<param-value>6LfwZwoAAAAAAI-oUHpdvRnkMfu9fXQHxc0P7IBu</param-value>
	</context-param>
	
	<!--  <servlet>
		<servlet-name>Resource Servlet</servlet-name>
		<servlet-class>org.primefaces.resource.ResourceServlet</servlet-class>
	</servlet> -->
	
	<context-param>
	    <param-name>primefaces.UPLOADER</param-name>
	    <param-value>commons</param-value>
	  </context-param>
	
	 <filter>
	    <filter-name>PrimeFaces FileUpload Filter</filter-name>
	    <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	     <init-param>  
            <param-name>thresholdSize</param-name>  
            <param-value>51200</param-value>  
        </init-param> 
	</filter>
	<filter-mapping>
	    <filter-name>PrimeFaces FileUpload Filter</filter-name>
	    <servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	
	
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>ischool-theme</param-value>
	</context-param>
	
	<!--  ******************** FIM SUPORTE PRIMEFACES -->

	<!-- Suporte ao Spring -->
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>   
				     /WEB-INF/applicationContext-security.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
<!-- 	<listener> -->
<!--    		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class> -->
<!--     </listener> -->
    
<!--     <listener> -->
<!-- 		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class> -->
<!-- 	</listener> -->

	
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	
	<filter-mapping>
	  <filter-name>springSecurityFilterChain</filter-name>
	    <url-pattern>/*</url-pattern>
	    <dispatcher>FORWARD</dispatcher>
	    <dispatcher>REQUEST</dispatcher>
	 </filter-mapping>

	<!-- FIM SUPORTE AO SPRING -->

	
	<!--  ********************START WEB SOCKET -->
<!-- 	<listener> -->
<!-- 		<listener-class>br.com.ischool.controller.listener.SocketStarterListener</listener-class> -->
<!-- 	</listener> -->
	
	<!--  ********************FIM START WEB SOCKET -->
	
	<!--  ******************** SUPORTE A HTTPS -->
	
<!-- 	<security-constraint>
	
		<web-resource-collection>
		
			<web-resource-name>https</web-resource-name>
			
			<url-pattern>/security.jsp</url-pattern>
			<url-pattern>/paginas/admin/*</url-pattern>
			<url-pattern>/paginas/client/*</url-pattern>
		
		</web-resource-collection>
		
		<user-data-constraint>
		
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		
		</user-data-constraint>
	
	</security-constraint>	 -->
	
	<!--  ******************** FIM SUPORTE HTTPS -->
	
</web-app>